@model dynamic

@{
    ViewBag.Title = "Private haver";
    Layout = "_LaxLayout";
}
<div class="parallax-container">
   
    <div class="parallax">

        <img src="~/images/plax/plax_plantegning 1_100_A2_a.png" />
    </div>
</div>
<div class="section green lighten-3">
    <div class="row container">
        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">
            Er I en gruppe, som står overfor et projekt hvor I vil søge økonomiske midler, men har brug for planer, skitser, vision eller andet?

            Vi kan rådgive om muligheden for fondssøgning, skabe relevante materialer og øge muligheden for at midlerne kommer i hus.

            Projekterne kan være alt fra et gårdprojekt i en bebyggelse, mindre fællesarealer i byområder eller større arealer som skal have ny anvendelse.

            Vi har i år succesfuldt hjulpet Bestyrelsen for Ryslinge Skulpturpark med at søge midler til nyskabelsen af Ryslinge Skulpturpark.En del af materialet ligger tilgængeligt på deres hjemmeside her. http://ryslingeskulpturpark.dk/u
        </p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax">
        <img src="~/images/plax/plax_plantegning 1_100_A2_a.png" />
    </div>
</div>