<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/materialize.min.css" rel="stylesheet" />
    <link href="~/css/eviggroen.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <ul id="slide-out" class="side-nav fixed">
        <li>
            <div class="userView">
                <a href="/home/index">
                    <img class="sidenav-img responsive-img" src="~/images/Logo_black.png" />
                </a>
            </div>
        </li>
        <li><a href="/home/omos" class="waves-effect"><i class="material-icons">info_outline</i>Eviggrøn</a></li>
        <li><a href="/home/private" class="waves-effect"><i class="material-icons">mode_edit</i>Private haver</a></li>
        <li><a href="/home/faelleshaver" class="waves-effect"><i class="material-icons">business</i>Fælleshaver</a></li>
        <li><a href="/kontakt/index" class="waves-effect"><i class="material-icons">question_answer</i>Kontakt</a></li>
        <li><div class="divider"></div></li>
        @*<li><a class="subheader">Referencer</a></li>
        <li><a href="/projekt/index" class="wav es-effect"><i class="material-icons">assignment</i>Projekter</a></li>
        <li><a href="" class="waves-effect"><i class="material-icons">view_module</i>Galleri</a></li>*@

    </ul>
    <main>
    <div class="container-fluid">
        <div class="container outer-frame">
            <div class="row">
                <div class="col s10">
                    <div class="left">
                        @RenderSection("PageTitle", false)
                    </div>
                    
                
                
                    
                </div>

                <div class="col s2">
                    <div class="right-align hide-on-large-only">
                        <a href="" id="sidenav-btn" data-activates="slide-out" class="btn-nav">
                            <i class="small material-icons">reorder</i>
                        </a>
                    </div>
                </div>
            </div>


            @RenderBody()
        </div>
    </div>
    </main>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/materialize.min.js"></script>
    <script src="~/js/eviggroen.js"></script>
</body>
</html>
