@{
    ViewBag.Title = "Kontakt";
    Layout = "_Layout";
}

@section PageTitle
{
    <h1 class="center-align">Kontakt</h1>
}

<div class="row flow-text">
    <div class="col s12">
        <p class="center-align">
            Du er altid velkommen til at kontakte via mail eller direkte på telefon
        </p>
    </div>
</div>

<div class="row flow-text">
    <div class="col l5 push-l1 s12">
        <div class="card" >
            <div class="card-content">
                <p class="flow-text ">
                    <div class="center-align">
                        <i class="material-icons large">email</i>
                    </div>
                    <div class="center-align">
                        <a href="mailto:kontakt@Eviggroen.dk">kontakt@eviggroen.dk</a>
                    </div>

                </p>
            </div>

        </div>
    </div>
    <div class="col l5 push-l1 s12 ">
        <div class="card">
            <div class="card-content">
                <img src="~/images/MarleneSigne.jpg" class="responsive-img" />
                <div class="row">
                    <div class="col l6 s12">
                        <div class="left-align">
                            Marlene<br />
                            Tlf.: 26 14 57 62
                        </div>
                    </div>
                    <div class="col l6 s12">
                        <div class="right-align">
                            Signe<br/>
                            Tlf.: 25 85 28 66
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col s11 push-s1">
            <a href="https://www.facebook.com/eviggroen/?ref=aymt_homepage_panel">
                <img src="~/images/FB-f-Logo__blue_29.png" />
            </a>
            <a href="https://www.instagram.com/eviggroen/" class="left-buffer">
                <img src="~/images/Instagram29.png" />
            </a>
        </div>
    </div>*@
