@model dynamic

@{
    ViewBag.Title = "Anlægsopgaver";
    Layout = "_Layout";
}


@section PageTitle
{

    <h1>Fælles haver</h1>
}

<div class="row">
    <div class="col s12 l6">
        <div class="card">
            <div class="card-content">
                <p>
                    Er I en gruppe, som står overfor et projekt hvor I vil søge økonomiske midler, men har brug for planer, skitser, vision eller andet?
                </p>
                <br />
                <p>
                    Vi kan rådgive om muligheden for fondssøgning, skabe relevante materialer og øge muligheden for at midlerne kommer i hus.
                </p>
                <br />
                <p>
                    Projekterne kan være alt fra et gårdprojekt i en bebyggelse, mindre fællesarealer i byområder eller større arealer som skal have ny anvendelse.
                </p>
                <br />
                <p>
                    Vi har i år succesfuldt hjulpet Bestyrelsen for Ryslinge Skulpturpark med at søge midler til nyskabelsen af Ryslinge Skulpturpark. En del af materialet ligger tilgængeligt på deres hjemmeside <a href="http://ryslingeskulpturpark.dk/u">Ryslinge skulpturpark</a>.
                </p>

            </div>
        </div>

    </div>
    <div class="col s12 l5">
        <div class="card">
            <div class="card-image">
                <img src="~/images/IMG_0636.jpg" class="responsive-img" />
            </div>

        </div>
    </div>
</div>