@{
    ViewBag.Title = "Eviggrøn";
    Layout = "_Layout";
}

@section PageTitle
{
    <div class="row">
        <div class="col s4">
            <img class="responsive-img logo" src="~/images/Logo_black.png" />
        </div>
    </div>

    <h4>Tema: Ryslinge Skulpturpark</h4>
    <p>Læs materiale til fondssøgning her: 
        <a href="~/images/ryslinge/fondsoegning1.pdf" target="_blank">Overordnet</a> -
        <a href="~/images/ryslinge/indgang.pdf" target="_blank">Indgang</a> -
        <a href="~/images/ryslinge/stier.pdf" target="_blank">Stier</a> -
        <a href="~/images/ryslinge/beplantning.pdf" target="_blank">Beplantning</a>
        
        
         </p>
}

<div class="row">
    <div class="row">
        <div class="col s12 l4">
             <div class="card eg-grey">
                <div class="card-content ">
                        <p><strong>Vision: </strong>Fonden Ryslinge Skulpturpark vil skabe gode friluftsrammer som fremmer forståelsen for kunsten i et naturligt samspil med naturen.</p>
<br />

                <p><strong>Mål: </strong>Parken skal være til gavn for både voksne og børn, hvor oplevelsesmomentet er en variation mellem beplantning og skulpturer.</p>
<br />

                <p><strong>Mission: </strong>Vi skaber nærhed til byens og egnens befolkning og er det naturlige udflugtsmål.</p>
                </div>
            </div>
            

            
            
        </div>
        <div class="col s12  l4">
            <p>
                <img src="~/images/ryslinge/IMG_0639.jpg" class="responsive-img" />
            </p>
        </div>
        <div class="col s12  l4">
            <p>
                <img src="~/images/ryslinge/IMG_0666.jpg" class="responsive-img" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12  l4">
            <p>
                <img src="~/images/ryslinge/IMG_0680.jpg" class="responsive-img" />
            </p>
        </div>
        <div class="col s12  l4">

            <p><img src="~/images/ryslinge/IMG_0650.jpg" class="responsive-img" /></p>

        </div>
        <div class="col s12  l4">
            <p><img src="~/images/ryslinge/Plantegning Beplantning.png" class="responsive-img" /></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12  l4">
            <p><img src="~/images/ryslinge/IMG_0661.jpg" class="responsive-img" /></p>
        </div>
        <div class="col s12  l4">
            <p><img src="~/images/ryslinge/IMG_0636.jpg" class="responsive-img" /></p>
        </div>
        <div class="col s12  l4">
            <div class="card eg-grey">
                <div class="card-content ">
                    <h5> EvigGrøn har udformet udviklingsplan for parken.</h5>
                    <p>
                        Fonden Ryslinge Skulpturpark har som vision, at skabe gode friluftsrammer for lokalbefolkningen og turister, samt at fremme forståelsen for kunsten i et naturligt samspil med naturen.
                    </p>
                    <p>Parken har gennem dens snart 20 år ændret størrelse, funktion og formål, men står i dag stadig som et karakterfyldt område, der giver parkens gæster et åndehul fyldt med natur og kultur.</p>
                </div>
            </div>
        </div>
    </div>
</div>
