@model dynamic

@{
    ViewBag.Title = "Eviggrøn";
    Layout = "_Layout";
}


@section PageTitle
{

    <h1>Eviggrøn</h1>
}

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <p>
                    Vi er begge uddannede Landskabsarkitekter fra Københavns Universitet og har med vores forskellige baggrund som planteskolegartner og vejleder dannet et firma med planter, æstetik og rådgivning som vores produkt.
                </p>
                <br />
                <p>
                    Vores målsætning er at skabe sammenhæng for mennesker til anvendelse og ro.
                </p>
                <br />
                <p>
                    Gammel have, nybyg, fællesareal eller….
                    Er du privathaveejer, medlem af en beboerforening eller har du brug for hjælp til fondssøgning til et fællesområde, så er vi behjælpelige. Kom med din problemstilling og lad os rådgive dig. Vi er behjælpelige med design, vejledning, plantegninger, havebøger og skitseforslag.
                </p>
                <br />
                <p>
                    EvigGrøn er fast konsulent for Danmarks største planteskolekæde, og vejleder over hele landet.
                </p>
            </div>
        </div>

    </div>
    <div class="col s5">
        <div class="card">
            <div class="card-image">
                <img src="~/images/MarleneSigne.jpg" class="responsive-img" />
            </div>
            <div class="card-content">
                Indehavere af Eviggrøn, Marlene H Nielsen (tv) Signe Breinbjerg(th)
            </div>
        </div>
    </div>
</div>