@{
    ViewBag.Title = "Eviggrøn";
    Layout = "_Layout";
}

@section PageTitle
{
    <div class="row">
        <div class="col-xs-12">
            <img src="~/images/Logo_black.png" class="black_logo" />
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-6">
        <div class="content-block">
            <p>
                Vi udfører havekonsultationer, hvori vi gennemgår haver med primært fokus på jer, jeres behov og jeres drømme for stedet.

                Vores vigtigste opgave er at finde ud af hvem I er, jeres stil, hvilke tanker I har om det at have en have og hvordan en løsning for jer kan blive.

                Det er de store linjer, som skaber rum og glæde og de små detaljer der skaber hygge og nærvær: det vil vi meget gerne hjælpe jer med at få overblik over.

                Efterfølgende vil I modtage et referat indeholdende relevante oplysninger omhandlende emner fra vores besøg. Herefter vil I have mulighed for at tilvælge flere ydelser.
            </p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="content-block">
            <img src="~/images/signemarlene.jpg" class="content-img" />
        </div>
    </div>
</div>
