@model dynamic

@{
    ViewBag.Title = "Private haver";
    Layout = "_Layout";
}


@section PageTitle
{

    <h1>Private haver</h1>
}

<div class="row">
    <div class="col l6 s12">
        <div class="card">
            <div class="card-content">
                <p>
                    Vi udfører havekonsultationer, hvori vi gennemgår haver med primært fokus på jer, jeres behov og jeres drømme for stedet.
                </p>
                <br />
                    <p>Vores vigtigste opgave er at finde ud af hvem I er, jeres stil, hvilke tanker I har om det at have en have og hvordan en løsning for jer kan blive.</p>
                <br />
                    <p>Det er de store linjer, som skaber rum og glæde og de små detaljer der skaber hygge og nærvær: det vil vi meget gerne hjælpe jer med at få overblik over.</p>
                <br />
                    <p>Efterfølgende vil I modtage et referat indeholdende relevante oplysninger omhandlende emner fra vores besøg. Herefter vil I have mulighed for at tilvælge flere ydelser.</p>
             
                   
            </div>
        </div>

    </div>
    <div class="col l5 s12">
        <div class="card">
            <div class="card-image">
                <img src="~/images/Signes hånd på tegning 1.jpg" class="responsive-img" />
            </div>
          
        </div>
    </div>
</div>