.outer-frame {
    min-height: 600px;
    margin-top: 50px;
    /*border: solid black 1px;*/
   

}
.container-fluid {
     background-color: #efefef;
}
.sidenav-img {
    padding: 10px 25px 0px 25px;
}


@media only screen and (min-width: 601px) {
    .frontpage-block {
        margin: 50px 100px;
        padding: 100px 100px;
    }
}

@media only screen and (max-width: 600px) {
    .frontpage-block {
        
        padding: 100px 20px;
    }
}


.btn-nav i {
    color: black;
    margin-right: 10px;
    margin-top: 10px;
}

.contact-form a{
    color: white;
}

.left-buffer {
    margin-left: 20px;
}

.parallax-container {
      height: 800px;
}